* {
 
  padding: 0;
  align-items: center;
  color: rgb(102, 100, 100);
  font-family:ink free;

}


body {
    width: 650px;
    border: 1px solid #858787;
    background-color: #f8f8f8;
    flex-wrap: wrap;
    align-items: center;
  }

div#titulo{
  align-content: normal;
  text-align: left;
  font-size: large;

}

button#close{
  background-color: #a6a6a6;
  border: none;
  text-align: end;
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 409px;

}

p {
    color: rgb(102, 100, 100);
    font-family:ink free;
    font-size: 100%;
    text-align: center;
    padding: 5px;
     
  }

p#horario{
    font-size: 150%;
    font-weight: bold;  
  }


  .button {
    border: none;
    width: 25%;
    padding: 5px;
    border-radius: 13px;
    background-color: #04AA6D;
    color: #f8f8f8;
    font-family: ink free; 
    position: relative; left: 50%; transform: translate(-50%);
  
  }

button:hover {
    background-color: #5e9b84;
    
  }
  .button > a {
    color: #fff;
    text-decoration: none;
   
     }

