* {
 
  padding: 0;
  align-items: center;
  color: rgb(102, 100, 100);
  font-family:ink free;
  line-height: 15px;
  

}

body {
    width: 550px;
    padding: 2px;
    border: 1px solid #858787;
    background-color: #f8f8f8;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 409px;

 }

form {
  display: flex;
  align-items: center;
  height: 25vh;
 
}

div#title{
  text-align: left;
  font-size: 17px;
  border: gray;


}

button#close{
  background-color: #a6a6a6;
  text-align: end;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

div#clock-wrap{
  width: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

}

img#clock{
  width: 70px;
  height: 60px;
  margin-top: 15px;
  padding: -50px 100px;
  width: fit-content;

  
}

p {
    color: rgb(102, 100, 100);
    font-family:ink free;
    font-size: 100%;
    text-align: center;
    padding: 5px;
    margin-top: -10px;
     
  }

p#horario{
    font-size: 150%;
    font-weight: bold;  
  }

  div#data{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

p#lastrecord{
   padding: 15px;
   font-size: 12px;
  }

  .button {
    border: none;
    width: 25%;
    padding: 5px;
    border-radius: 9px;
    background-color: #04AA6D;
    color: #f8f8f8;
    font-family: ink free; 
    
  
  }

button:hover {
    background-color: #5e9b84;
    
  }
  .button > a {
    color: #fff;
    text-decoration: none;
   
     }

