* {
  margin: 5 10 5 10;
  padding: 0;
  box-sizing: border-box;
  font-family: ink free;
  text-align: center;
  border: #04AA6D;
}
body {
    width: 100%;
    border: 10;
    color: rgb(102, 100, 100);
    background-color: #f8f8f8;
    position: fixed;
    
}
button {

  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  background-color: #04AA6D;
  color: white;
  gap: 12px;
  }

button:hover {
    background-color: #5e9b84;
    
  }
  .button > a {
    color: #fff;  
  }